@import "../../styles/dimensions.scss";
@import "../../styles/colors.module.scss";

.card {
  border: 1px solid $color-disabled;
  padding: $negative-space;
  background-color: $color-secondary-lighter;
  padding: 1rem;
}
