@import "../../../styles/colors.module.scss";

.projectItem {
  cursor: pointer;
  background-color: $color-secondary-lighter;
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  margin: 0;
  text-transform: uppercase;
}
