@import "../../../styles/colors.module.scss";
@import "../../../styles/dimensions.scss";

.projectItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: $color-secondary-lighter;
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  column-gap: $negative-space;
}

.title {
  margin: 0;
  text-transform: uppercase;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10rem;
}
